body {
  font-family: sans-serif;
}

#app {
  border: 1px solid;
  position: relative;
  height: 500px;
  width: 500px;
}

.walker {
  height: 5px;
  width: 5px;
  background: black;
  position: absolute;
}
